<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia perguntas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Guia perguntassss!</h1>
    <p>Nome: <%= nome %></p>
    <p>Lang: <%= lang %></p>
    
    <% if(msg) { %>
        <h3>Erro!!!</h3>
    <%}%>
    
</body>
</html>