<%- include ('../../partials/header.ejs'); %>
<div class="container">
    <br>
    <div class="card mt-5">
        <div class="card-header">
            <h2>User login</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/authenticate">
                <input class="form-control" type="email" name="email" placeholder="email@exemple.com"><br>
                <input class="form-control" type="password" name="password" placeholder="*********"><br>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include ('../../partials/footer.ejs'); %>
