body {
    font-family: "Fira Sans", Arial;
    margin: 0px;
    max-width: 1400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0px;
}

img {
    display: block;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 50px 10px;
}

.header nav {
    grid-column: 2;
}

.menu {
    font-size: 1.1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: right;
}

.introducao {
    display: grid;
    grid-template-columns: 350px 1fr;
    max-width: 1000px;
    gap: 100px;
    margin-left: 80px;
    margin-right: 80px;
}

.perfil img{
    max-width: 500px;
    max-height: 500px;
}

.introducao-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.introducao-texto h1{
    font-size: 4rem;
}

.introducao-texto p {
    font-size: 1.5rem;
    color: #3a3939;
    position: relative;
}

.experiencia {
    display: grid;
    grid-template-columns: 350px 1fr;
    max-width: 1400px;
    gap: 100px;
    margin-left: 80px;
    margin-right: 80px;
}

section {
    padding-top: 80px;
}

.titulo-section h2{
    font-size: 8.5rem;
    text-transform: uppercase;
    word-break: break-all;
    color:#cccccc;
}

.carreira {
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr;
    gap:20px;
}

.descricao {
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 600px;
}

.descricao p {
    font-size: 1.5rem;
    color: #3a3939;
}

strong {
    color:#000
}

.empresa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 20px;
    gap:10px
}

.empresa span {
    font-weight: bold;
}

.empresa p {
    font-size: 0.9rem;
    color:#3a3939;
}

.stacks {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.stacks li {
    font-size: 0.9rem;
    white-space: nowrap;
    background: #ffffff;
    height: 20px;
    padding: 8px;
    border-radius: 5px;
}

.formacao {
    display: grid;
    grid-template-columns: 430px 1fr;
    max-width: 1400px;
    gap: 100px;
    background: #3a3939;
    margin-top: 100px;
    padding-bottom: 100px;
}

.titulo-formacao {
    margin-left: 80px;
    font-size: 6rem;
    text-transform: uppercase;
    word-break: break-all;
}

.conteudo {
    display: grid;
    margin-right: 80px;
    gap: 50px;
}

.descricao-conteudo {
    font-size: 1.5rem;
    color: #949494;
    max-width: 600px;
}

.descricao-conteudo strong{
    color: #ffffff;
}

.quadro-diplomas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.quadro-diplomas li {
    display: grid;
    background: #000;
    width: 200px;
    border-radius: 5px;
    color: #949494;
    padding: 15px;
    gap: 10px;
}

.quadro-diplomas li h3 {
    color: #ffffff;
    padding-bottom: 40px;
}

.dado {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
}

.dado p {
    grid-column: 1;
    color: #ffffff;
}

.dado h3 {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #949494;
}

.dado span {
    text-align: right;
    color: #949494;
}

.dado p strong {
    color: #949494;
    font-weight: 300;
}

.rodape {
    display: grid;
    grid-template-columns: 430px 1fr;
    max-width: 1400px;
    gap: 100px;
    background: #000;
    min-height: 500px;
}

.mensagem {
    padding-top: 100px;
    display: grid;
    margin-left: 80px;
    color:#ffffff;
    gap: 120px;
}

.mensagem p {
    font-size: 1.5rem;
}

.mensagem span {
    color: #949494;
}

.contatos {
    padding-top: 70px;
}

.contatos p {
    font-size: 2.5rem;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 600;
}
 
.contatos a {
    font-size: 2rem;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 600;
    text-decoration: underline;
}