<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
</head>
<body>
    <form method="POST" action="/form">
        <input type="email" name="email" id="email" placeholder="name@email.com"><br>
        <input type="text" name="name" id="name" placeholder="name"><br>
        <input type="number" name="points" id="points" placeholder="points"><br>
        <button type="submit">Send</button>
    </form>
</body>
</html>