body {
    font-family: Arial;
    background-color: #f7f7f7;
}
h1 {
    text-align: center;
    margin: 50px;
}

p {
    font-size: 20px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #000000;
    background: #ffff;
    padding: 10px 20PX;
    border-radius: 4px;
}

.produto {
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(2, 1fr);
    margin: 90px;
    position: relative;
}

.info {
    display: grid;
    grid-template-columns: 2fr 6fr;
    background-color: #ffff;
    padding: 20px;
    align-items: center;
    place-items: end;
}

.vermais {
    grid-column: 2;
    background-color: #ee2211;
    color: #ffff;
    font-size: 10px;
    margin-right: 0px;
    margin-top: 10px;
    align-self: start;
    justify-self: end;
}

.texto1 {
    grid-column: 2;
    text-align: right;
    font-size: 30px;
    margin: 0px;
}

.texto2 {
    grid-column: 2;
    text-align: right;
    font-size: 20px;
    margin: 0px;
    align-self: center;
}

.texto3 {
    text-align: right;
    font-size: 64px;
    margin: 0px;
    color:#c6c6c6;
}

.t3 {
    background-color: #f7f7f7;
    display: grid;
    align-items: center;
}

.caracteristicas {
    display: grid;
    background-color: #ffff;
    grid-template-columns: 4fr 1fr 16fr 6fr;
    padding-top: 30px;
}

.icone {
    grid-column: 1;
    align-self: center;
    place-self: end;
}

.t4 {
    grid-column: 3;
    margin: 20px 20px 0px 0px;
}

.t5 {
    grid-column: 3;
}

img {
    max-width: 100%;
}

span {
    position: absolute;
    background-color: #ee2211;
    color:#ee2211;
    font-size: 0px;
    top: 30px;
    left: 45%;
    right: 45%;
    padding: 3px 30px;
}

footer{
    color: #000000;
    text-align: center;
}